:root{
    --blanco: #ffffff;
    --negro: #212121;
    --amarillo: #ffc107;
    --azul: #0097a7;
    --gris: #757575;
}

hmtl{
    font-size: 62.5%;
}

body{
    font-size: 16px;
    font-family:'Times New Roman', Times, serif; 
}
/*Con estas 2 etiquetas podemos reiniciar y poder dar medidas en REM*/

.titulo{
    text-align: center;
    font-size: 3.8rem;
}

.titulo span{
    font-size: 2rem;
}

.contenedor{
    max-width: 120rem;
    margin:0 auto;
}

.nav-bg{
    background-color: var(--azul);
}

.navegacion-principal{
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .navegacion-principal{
        flex-direction: row;
        justify-content: space-between;     
    }
}

.navegacion-principal a{
    display: block;
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
}

.navegacion-principal a:hover{
    background-color: var(--amarillo);
    color: var(--negro);
}   

